<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>Registro</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
	<h2>Datos del nuevo usuario</h2>
	<div class="col-md-6">
	 <div th:if="${error}" class="alert alert-danger" th:text="${error}">  Username o password incorrectos!! </div>
     <div th:if="${exito}" class="alert alert-success" th:text="${exito}">    Registrado con exito!!  </div>
		<form action="#" th:action="@{/registro}" method="post">
				Nombre de usuario: <input name="username" type="text" /><br/><br/>
			    Password:<input name="password" type="password" /><br/><br/>
				Email: <input name="correo" type="text" /><br/><br/>
				<button class="btn btn-default" type="submit" name="registrar">Registrarme</button>		
		</form>
		<br/><br/>
		<a href="welcome.htm">Ir a la pagina principal</a>
	</div>
</body>
</html>