<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Thyme Twitter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/estilo.css" th:href="@{/css/estilo.css}"/>
  </head>
<body>
<div class="container text-center">
	<h2>Bienvenido a TwitterUCM!</h2>
	<div class="div-publicar col-md-6 col-md-offset-3">
		<h3> Publicar nuevo post</h3>
		<form action="#" th:action="@{/welcome}" th:object="${tweet}" method="post">
			<textarea class="form-control" rows="3" placeholder="Escribe aqui.."></textarea><br/>
			<button class="btn btn-default" type="submit" name="publicar">publicar</button>
			<br/><br/>
		</form>
	</div>
	
	<div class="col-md-6 col-md-offset-3">
	    <h3>Lista de post recientes</h3>
		<p th:each="t : ${allTweets}" th:text="${t.msg}">ggg</p>          
	</div>
</div>
</body>
</html>
