<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Thyme Twitter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/estilo.css" th:href="@{/css/estilo.css}"/>
  </head>
<body>
<div class="container text-center">
	<h2>Bienvenido a TwitterUCM!</h2>
	<div class="div-publicar col-md-6 col-md-offset-3" th:if="${userlogin.logueado}">
		<p th:text="'Estas registrado como ' + ${userlogin.username}">  </p>
		<a href="logout.htm">Logout</a>
		<h3> Publicar nuevo post</h3>
		<form action="#" th:action="@{/welcome}" th:object="${userlogin}" method="post">
			<textarea name="msg" class="form-control" rows="3" placeholder="Escribe aqui.."></textarea><br/>
			<button class="btn btn-default" type="submit" name="publicar">publicar</button>
			<br/><br/>
		</form>
	</div>
	
	<div th:if="!${userlogin.logueado}"> 
	No estas registrado. Puedes hacer <a href="login.htm">login</a> o <a href="registro.htm">registrarte</a>
	</div>
	
	<div class="col-md-6 col-md-offset-3">
	    <h3>Lista de post recientes</h3>
		<div class="div-listaPost" th:each="t : ${allTweets}"> 
		  <p th:text="${t.msg}"></p>
		  <p class="cursiva" th:text="'Publicado por ' + ${t.usuario.username} + ' el ' + ${t.fecha}"></p>
		</div>     
	</div>
</div>
</body>
</html>
